@import "tailwindcss";
body{
    background: url(/back.png) repeat-y;
    background-size: auto 100%;
    background-position: center;
}

*{
    font-family: system-ui, sans-serif !important;
}

@media (max-width: 500px) {
  body {
    background-position: left center;
  }
}